# Compiled class files
*.class

# Build folders
target/
bin/

# IDE / Eclipse
*.launch
.settings/
*.classpath
*.project
.metadata/

# Package files
*.jar
*.war
*.zip
*.tar.gz
*.rar

# Log files
*.log

# VM crash logs
hs_err_pid*
replay_pid*

# Librería generada
lib/**/target/
